@{
    ViewData["Title"] = "Home";
    ViewData["Autor"] = "Guilherme Rocha"; 
}

<div class="text-center">
    <h1 class="display-2 mb-2">Bem-Vindo ao App-Vendas</h1>
    <h3 class="display-4">Aluno: @ViewData["Autor"] - <a href="https://github.com/guiPython">GitHub GuiPython</a></h3>
</div>
